# Virtual environment
.venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Real papers and derived chunks
KnowledgeBase/
JsonChunksPapers/
ChromaEmbeddings/

# Local paper metadata 
*_paper_metadata.py


# FOR NOW _ CHANGE WHEN IMPLEMENTATION IS DONE
Build_EmployeeDev_Embeddings.py
Build_Productivity_Embeddings.py
Ingest_EmployeeDev_Papers.py
Ingest_Productivity_Papers.py
